<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Cine</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #2a2a2a;
            color: #e0e0e0;
        }
        .container {
            margin-top: 50px;
        }
        .list-group-item {
            background-color: #3a3a3a;
            border-color: #4a4a4a;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Gestión de Cine</h1>
        <div class="list-group">
            <a href="/peliculas" class="list-group-item list-group-item-action">Películas</a>
            <a href="/salas" class="list-group-item list-group-item-action">Salas</a>
            <a href="/sillas" class="list-group-item list-group-item-action">Sillas</a>
            <a href="/funciones" class="list-group-item list-group-item-action">Funciones</a>
            <a href="/boletas" class="list-group-item list-group-item-action">Boletas</a>
        </div>
    </div>
</body>
</html>
